body {
    text-align: center;
    margin: 10%;
}

div{
    text-align: center;
}
button {
    background-color: rgb(179, 194, 216); /* Green */
    border: none;
    color: white;
    width: 72.91px;
    height: 48px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    border-radius: 8px;
  }

button:hover {
    background-color: rgb(76, 94, 175); /* Green */
    color: white;
}
button.operations {
    background-color: rgb(179, 194, 216);
 }

 .numbers {
     width: 305px;
     height: 250px;
}

#zero {
    width: 150px;
}

.display {
    text-align: right;
    width: 305px;
    height: 32px;
    padding: 5px 5px;
    margin: 8px 0;
    box-sizing: border-box;
    border: solid;
    border-width: 2px;
    border-radius: 9px;
}
